[icingaweb2]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "{{ icinga2_web2_db }}"
username            = "{{ icinga2_web2_db_user }}"
password            = "{{ icinga2_web2_db_pass }}"


[icinga2]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "{{ mariadb_databases }}"
username            = "{{ mariadb_users[0].name }}"
password            = "{{ mariadb_users[0].password }}"
